 .gradientContainer {
    position: absolute;
  width: 44%;
  height: 142px;
  background: #18B2De;
  filter: blur(100px);
  top: -11rem;
}

.navbar{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
.links{
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
    margin-top: -10px;
}
.links a{
    color: #8ea6bb;
    text-decoration: none;
    font-weight: 500;

}
.links a:hover{
    color: var(--white);
    transition: all0.3s;
}
.active{
    color: var(--white) !important;
}
.mobile-drawer{
    display: none;
}
@media only screen and (max-width: 800px) {
   .links{
    display: none;
   }
   .navbar{
    padding: 1.5rem;
    justify-content: flex-start;
   }
   .active{
    font-size: 1rem;
   }
   .mobile-drawer{
    display: flex;
   }
   .drawer-menu{
     width: 40vw;
     background-color: var(--theme);
     height: 100vh;
     padding: 1.5rem;
     display: flex;
    flex-direction: column;
    justify-content: center;
   }
   a{
    margin: 10px;
  padding: 6px;
  text-align: center;
  color: #8ea6bb;
   }
   /* .links a{
    text-decoration: none;
    font-weight: 500;

} */
 a:hover{
    color: var(--white);
    transition: all0.3s;
}
  }